*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

.parent{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
 background-color: white;
 width: 250px;
 height: 300px;
 margin: 20px;
 padding: 20px;
 border-radius: 40px;
}
.top{
  display: flex;
  gap: 140px;
}
.top img{
  height: 30px;
  width: 30px;
  border: 2px solid rgb(150, 149, 149);
  border-radius: 50px;
  object-fit: contain;
}
.top p{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 2px solid rgb(199, 195, 195);
  width: 70px;
  font-size: 15px;
  border-radius: 9px;
  color: rgb(199, 195, 195);
}

.mid{
  margin-top: 35px;
}
.ps{
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 3px;
}
.ps h1{
  font-size: 20px;
}
p{
  color: grey;
}
#des{
  font-size: 22px;
}

.but{
  display: flex;
  gap: 1px;
  margin-top: 15px;
  color: black;
  
}
.but p{
  border: 2px solid black;
  padding: 04px;
  margin: 2px;
  border-radius: 7px;
  color: black;
  font: bold;
  background-color: rgb(208, 202, 202);
  font-size: 12px;
}
.bottom{
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 70px;
}
#pbut{
  background-color: black;
  padding: 12px;
  width: 90px;
  color: white;
  border-radius: 10px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}